@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.floorButtons{
  margin-bottom: 10px;
  color: green;
  padding: 10px;

}
.floors{
  padding: 20px;

}

.App-header {
  text-align: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

.layout{ 
  display:grid;
  grid-template-columns: 0.2fr 2fr 0.2fr;
  grid-gap: 1px;
}

.elevators{
  display: inline-flex;
  float: left;
  width: 60%;
  padding: 30px;
}

.elevators img{
width: 100%;}



