@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Quicksand";
  background-color: #c2cbce;
}

.floors{
  padding: 30px;
  padding-bottom:25px ;
  font-size: 20px;

}

.allFloors{
  display:flex;
  grid-column-start: 1;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-evenly;

}

.allButtons{
  display:flex;
  grid-column-start: 3;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.callButton{
  background-color: rgb(12, 173, 98);
  font-size: medium;
}

.waitingButton{
  background-color: rgb(190, 62, 62);
  font-size: medium;
}

.App-header h1 {
  text-align: center;
  font-size: calc(5px +2vmin);
}

.layout{ 
  display:grid;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;

}

.elevators{
  display: grid;
  grid-column-start: 2;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(10, 100px);
  float: center;
  border: 5px solid rgb(51, 54, 100);
  background-color: white;
  justify-content: space-between;
  justify-items: center;
  align-items: center;

}

.elevators img{
  width: 30%;
  padding: 32px;
  position:relative;
  grid-column-start: 1;
  fill: green;
  color: blue;
}

#elevator_1{
grid-row-start: 10;
}
#elevator_2{
  grid-row-start: 10;
}
#elevator_3{
  grid-row-start: 10;
}
.elevators #elevator_4{
  grid-row-start: 10;
}
.elevators #elevator_5{
  grid-row-start: 10;
}

