@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Quicksand";
  background-color: #d2e8f1;
}

.floors{
  padding: 20px;
  padding-bottom:25px ;
}

.allFloors{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.allButtons{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.callButton{
  background-color: rgb(25, 197, 48);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-color: #d2e8f1;
  color: white;
  padding: 5px 15px;
}

.waitingButton{
  background-color: rgb(190, 62, 62);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-color: #d2e8f1;
  color: white;
}

.App-header {
  text-align: center;
  font-size: calc(6px + 2vmin);
}

.layout{ 
  display:grid;
  grid-template-columns: 0.2fr 2fr 0.2fr;
  justify-items: center;
}

.elevators{
  display: flex;
  float: center;
  width: 70%;
  padding: 30px;
  border: 5px solid rgb(51, 54, 100);
  align-items: flex-end;

}

.elevators img{
  background-color: blueviolet;
  width: 25%;
  padding: 30px;
  position:relative;
  bottom: 0px;
  flex-direction: column;
  flex: 15;
}

#elevator_1{
  background-color: blueviolet;

}
#elevator_2{
}
#elevator_3{
}
.elevators #elevator_4{
}
.elevators #elevator_5{
}

